/* ================================= */
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* ================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================= */
/* General Styles */
/* ============================= */
*{
	box-sizing:border-box; 
	max-width: 100%;
}

html{
	font-size: 62.5%;
}

body{
	font-size:1.6rem;
	line-height:1.5;
	font-family: 'Roboto Mono', monospace;
}

h1{
	font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  letter-spacing: 0.1em;
}

button {
  width: 15rem;
  border: 1px solid black;
  border-radius: 5rem;
  padding: 1rem;
  margin: 2rem auto;
}


/* =========================== */
/* HERO SECTION */
/* =========================== */
.hero-img-container {
  background-image: url("../public/blue.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  /* margin-top: 8rem; */
}

.hero-content-container {
  text-align: center;
}

.call-to-action-button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .hero-img-container {
    position: relative;
    top: 8rem;
    margin-bottom: 20rem;
  }
}

/* ============================= */
/* Navbar */
/* ============================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  width: 100%;
  height: 8rem;
  background-color: azure;
}

/* company logo */
.navbar .logo {
  font-size: 2rem;
  color: black;
}

/* menu */
.hamburger {
  font-size: 2.4rem;
}

.hamburger:hover {
  cursor: pointer;
}

/* links */
.links-wrapper {
  position: fixed;
  top: 0rem;
  right: 0;
  width: 25rem;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  z-index: 1;
  user-select: none;
}

.hide-links {
  display: none;
}

.links-wrapper a {
  color: black;
}

.links-wrapper li {
  padding: 1rem;
  cursor: pointer;
  color: white;
}

.links-wrapper li:hover {
  background-color: #d3d3d3;
  transition: 0.5s ease;
}

#close-menu {
  cursor: pointer;
  align-self: flex-end;
  width: 2rem;
}

#close-menu:hover {
  background-color: black;
}

/* navbar MEDIA QUERIES */
@media only screen and  (min-width: 1200px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  /* menu */
  .hamburger {
    display: none;
  }

  /* links */
  .links-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: static;
    flex-direction: row;
    height: auto;
    padding: 0;
    width: 100%;
    background-color: azure;
  }

  #close-menu {
    display: none;
  }

  .links-wrapper li {
    padding: 2rem 1.5rem;
    color: black;
  }

  .links-wrapper a {
    /* color: black; */
    white-space: nowrap;
  }

  .links-wrapper li:hover {
    border-radius: 5px;
  }
}

/* ================================= */
/* Home Styles */
/* ================================= */
/* Gallery */
.home-gallery {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5rem auto;
}

.gallery-item {
  text-align: center;
  margin-bottom: 5rem;
}

/* Intro */
.home-intro {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto 10rem;
}

.home-intro .intro-content {
  margin-bottom: 5rem;
}

.home-intro .intro-content h2 {
  margin-bottom: 2rem;
}

#about-us-link {
  text-decoration: underline;
}

/* Home page Media Queries */
@media only screen and (min-width: 1000px) {
  .home-gallery {
    flex-direction: row;
  }

  .gallery-item {
    width: 30%;
    margin: 0% 2%;
  }

  .home-intro {
    flex-direction: row;
    align-items: flex-start;
    margin: 10% auto;
  }

  .home-intro .intro-content {
    width: 45%;
    margin: 0% auto;
  }

  .home-intro img {
    width: 45%;
    margin: 0% auto;
  }
}

/* ================================= */
/* FOOTER STYLES */
/* ================================= */
footer {
  background-color: antiquewhite;
}

footer .links-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5%;
}

footer .footer-section-container {
  border-bottom: 1px solid grey;
  width: 90%;
  padding: 10%;
}

footer .footer-company-logo {
  font-size: 2.5rem;
  cursor: pointer;
}

footer .copyright {
  text-align: center;
}

#footer-custom-orders-btn {
  border: 1px solid black;
  text-align: center;
  padding: 5% 15%;
  border-radius: 15px;
  margin-top: 5%;
  letter-spacing: 0.2em;
}

#footer-custom-orders-btn:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

footer .links-label {
  text-transform: uppercase;
}

footer a {
  color: grey;
}

#footer-email {
  text-decoration: underline;
}

/* footer media queries */
@media only screen and (min-width: 600px) {
  footer .footer-section-container {
    width: 45%;
    padding: 5%;
  }
}

@media only screen and (min-width: 1000px) {
  footer .footer-section-container {
    width: 30%;
    border-bottom: none;
  }

  footer .copyright {
    border-top: 1px solid grey;
    padding: 1%;
    margin: 0% 5%;
  }
}

@media only screen and (min-width: 1200px) {
  footer .footer-section-container {
    width: 22%;
    padding: 2%;
  }
}

/* ================================ */
/* About Page */
/* ================================ */
.about-section {
  width: 90%;
  margin: 0 auto 10rem;
}

.about-content {
  margin-bottom: 5rem;
}

/* About page media queries */
@media only screen and (min-width: 800px) {
  .about-section {
    display: flex;
    justify-content: space-evenly;
  }

  .about-content {
    width: 40%;
  }

  .about-img-container {
    width: 45%;
  }
}

/* ====================================== */
/* Shop Page Styles */
/* ====================================== */
.shop-categories {
  display: flex;
  flex-wrap: wrap;
  margin: -5rem auto 5rem;
  justify-content: space-evenly;
}

.shop-categories-item {
  border: 1px solid black;
  border-radius: 2em;
  width: 10em;
  text-align: center;
  margin: 3% 1%;
}

.shop-categories-item img {
  display: none;
}

.shop-categories-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.shop-categories .selected {
  background-color:#d3d3d3;
}

.shop-gallery {
  width: 90%;
  margin: 0 auto 10rem;
}

.shop-gallery-item {
  text-align: center;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 500px) {
  .shop-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 10rem;
  }

  .shop-gallery-item {
    width: 45%;
    margin: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .shop-gallery-item {
    width: 30%;
    /* margin: 0 1%; */
  }
}

@media only screen and (min-width: 695px) {
  .shop-categories {
    width: 60rem;
  }
}

@media only screen and (min-width: 1200px) {
  .shop-categories {
    width: 120rem;
  }
}

/* ================================= */
/* Contact Page Styles */
/* ================================= */
.contact-container {
  width: 90%;
  margin: auto;
}

.contact-container .info-container {
  margin-bottom: 5rem;
}

.contact-container .contact-form {
  display: flex;
  flex-direction: column;
}

.contact-container .contact-form h3 {
  margin-bottom: 2rem;
}

.contact-container .contact-form input {
  margin-bottom: 2rem;
  padding: 1rem;
}

.contact-container .contact-form textarea {
  margin-bottom: 2rem;
}

.contact-container .contact-form button {
  padding: 1rem;
  margin-bottom: 5rem;
  border-radius: 5rem;
}

/* contact media queries */
@media only screen and (min-width: 700px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 120rem;
  }

  .contact-container .contact-form {
    width: 40%;
  }
}

/* ============================== */
/* Cart */
/* ============================== */
.hide-cart {
  display: none;
}

.cart {
  background-color: beige;
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100vh;
  overflow-y: scroll;
  z-index: 100;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1rem auto;
}

.cart-items-container {
  width: 90%;
  margin: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.cart-item-left-wrapper {
  display: flex;
  align-items: center;
}

.cart-item img {
  width: 50%;
}

.delete-cart-item {
  margin-right: 2rem;
  color: red;
}
.delete-cart-item:hover {
  margin-right: 2rem;
  color: red;
  cursor: pointer;
}

.cart-total {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.cart-total span {
  font-size: 1rem;
}

.proceed-to-checkout {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.proceed-to-checkout button {
  border-radius: 5em;
  padding: 1rem 3rem;
}

/* ============================ */
/* Custom orders page */
/* ============================ */
.custom-form-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.custom-form-container input {
  padding: 1rem;
  margin-bottom: 2rem;
}

.custom-form-container select {
  padding: 1rem;
  margin-bottom: 2rem;
}

.custom-form-container .submit-quote-button {
  border-radius: 5rem;
  padding: 1rem;
  margin: 2rem 0;
}

/* =========================== */
/* ITEM DETAILS */
/* =========================== */

/* Image Slides */
.slideshow-container {
  margin: 0 auto 5%;
}

.slides-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.hidden-slides {
  display: none;
}

/* Previous & Next buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.3);
}

/* Image Slides Gallery */
.thumbnail-container {
  display: flex;
  justify-content: space-evenly;
}

.image-thumbnail {
  width: 20%;
}

.active-thumbnail {
  opacity: 0.5;
}

.image-thumbnail:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Details Title */
.order-container {
  width: 90%;
  margin: auto;
}

.item-title-container {
  text-align: center;
}
/* customized options */
.item-customized-options {
  display: flex;
  flex-direction: column;
}

.quantity-container input {
  padding: 1rem;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-increments {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(0,0,0,0.8);
  color: white;
  user-select: none;
  margin: 0 1rem;
}
.quantity-increments:hover {
  cursor: pointer;
}

.order-price-container {
  margin: 10% auto 0%;
}

.total-price {
  color: green;
}

/* practice */
.option-boxes-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%; 
}
.option-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2rem;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
}
.selected-option {
  background-color: rgba(0,0,0,0.8);
  color: white
}
.option-box:hover {
  cursor: pointer;
}
.selected-option-added-cost {
  font-size: 1.2rem;
  color: green;
  position: absolute;
  bottom: 0;
}

.item-description-container {
  width: 90%;
  margin: auto;
}

.add-to-cart-button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .slideshow-container {
    width: 90%;
  }
}

@media only screen and (min-width: 800px) {
  .item-order-container {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    width: 90%;
    margin: 5% auto 0;
    /* border: 1px solid red; */
  }

  .slideshow-container {
    width: 50%;
    margin: 0;
    /* border: 1px solid red; */
  }
  
  .thumbnail-container {
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    /* height: 30%; */
  }
  .image-thumbnail {
    width: 25rem;
    margin-top: 2rem;
  }

  .order-container {
    width: 45%;
    /* border: 1px solid red; */
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .item-order-container {
    margin-top: 10%;
  }
}