/* ================================= */
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* ================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================= */
/* General Styles */
/* ============================= */
*{
	box-sizing:border-box; 
	max-width: 100%;
}
html{
	font-size: 62.5%;
}
body{
	font-size:1.6rem;
	line-height:1.5;
	font-family: 'Roboto Mono', monospace;
}
h1{
	font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
  letter-spacing: 0.1em;
}

/* ============================= */
/* Navbar */
/* ============================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  width: 100%;
  height: 8rem;
  background-color: azure;
}
/* company logo */
.navbar .logo {
  font-size: 2rem;
  color: black;
}
/* menu */
.hamburger {
  font-size: 2.4rem;
}
.hamburger:hover {
  cursor: pointer;
}
/* links */
.hide-links {
  display: none;
}
.show-links {
  display: block;
}
.links-wrapper {
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: azure;
}
.links-wrapper a {
  color: black;
}
.links-wrapper li {
  padding: 1.5%;
  cursor: pointer;
}
.links-wrapper li:hover {
  background-color: #d3d3d3;
  transition: 0.5s ease;
}
/* navbar MEDIA QUERIES */
@media only screen and  (min-width: 1200px) {
  .navbar {
    position: fixed;
  }
  /* menu */
  .hamburger {
    display: none;
  }
  /* links */
  .links-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: static;
  }
  .links-wrapper li {
    padding: 2rem 1.5rem;
  }
  .links-wrapper a {
    color: black;
    white-space: nowrap;
  }
  .links-wrapper li:hover {
    border-radius: 5px;
  }
}

/* ================================= */
/* Home Styles */
/* ================================= */
/* Hero image */
.hero-img {
  background-image: url("../public/blue.png");
  height: 75vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* TODO: come back to later - parallax scrolling on hero img */
  /* background-attachment: fixed; */
}
/* Hero content */
.hero-content {
  width: 90%;
  margin: auto;
  text-align: center;
}
.hero-content h1 {
  font-size: 3rem;
  margin: 10%;
}
/* Call to Action button */
.hero-img button {
  border: 1px solid black;
  border-radius: 15px;
  padding: 2% 4%;
}
/* Gallery */
.home-gallery {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10% auto;
}
.gallery-item {
  text-align: center;
  margin: 5% auto;
}
/* Intro */
.home-intro {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0% auto;
}
.home-intro h2 {
  font-size: 2.5rem;
  margin-bottom: 2%;
}
.home-intro img {
  margin: 10% auto;
}
/* Home page Media Queries */
@media only screen and (min-width: 1000px) {
  .home-gallery {
    flex-direction: row;
  }
  .hero-content h1 {
    margin: 2%;
  }
  .hero-img button {
    padding: 1% 2%;
  }
  .gallery-item {
    width: 30%;
    margin: 0% 2%;
  }
  .home-intro {
    flex-direction: row;
    align-items: flex-start;
    margin: 10% auto;
  }
  .home-intro .intro-content {
    width: 45%;
    margin: 0% auto;
  }
  .home-intro img {
    width: 45%;
    margin: 0% auto;
  }
}

/* ================================= */
/* FOOTER STYLES */
/* ================================= */
footer {
  background-color: antiquewhite;
}
footer .links-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5%;
}
footer .footer-section-container {
  border-bottom: 1px solid grey;
  width: 90%;
  padding: 10%;
}
footer .copyright {
  text-align: center;
}
#footer-custom-orders-btn {
  border: 1px solid black;
  text-align: center;
  padding: 5% 15%;
  border-radius: 15px;
  margin-top: 5%;
  letter-spacing: 0.2em;
}
#footer-custom-orders-btn:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}
footer .links-label {
  text-transform: uppercase;
}
footer a {
  color: grey;
}
#footer-email {
  text-decoration: underline;
}
/* footer media queries */
@media only screen and (min-width: 600px) {
  footer .footer-section-container {
    width: 45%;
    padding: 5%;
  }
}
@media only screen and (min-width: 1000px) {
  footer .footer-section-container {
    width: 30%;
    border-bottom: none;
  }
  footer .copyright {
    border-top: 1px solid grey;
    padding: 1%;
    margin: 0% 5%;
  }
}
@media only screen and (min-width: 1200px) {
  footer .footer-section-container {
    width: 22%;
    padding: 2%;
  }
}

/* ================================ */
/* About Page */
/* ================================ */
.about-hero-section {
  background-image: url("../public/blue.png");
  height: 75vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-hero-content {
  text-align: center;
}
.about-section {
  width: 90%;
  margin: 10% auto;
}
.about-content {
  margin-bottom: 10%;
}
/* About page media queries */
@media only screen and (min-width: 800px) {
  .about-hero-section {
    height: 50vh;
  }
  .about-section {
    display: flex;
    justify-content: space-evenly;
  }
  .about-content {
    width: 40%;
  }
  .about-img-container {
    width: 45%;
  }
}
@media only screen and (min-width: 1200px) {
  .about-hero-section {
    height: 75vh;
  }
}

/* ====================================== */
/* Shop Page Styles */
/* ====================================== */
.shop-title-container {
  text-align: center;
  width: 75%;
  margin: auto;
  border-bottom: 1px solid grey;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.shop-custom-order-button {
  padding: 1em 4em;
  margin: 5%;
  border: 1px solid black;
  border-radius: 5em; /* use this elsewhere - create general button styles */
}
.shop-categories {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}
.shop-categories-item {
  border: 1px solid black;
  border-radius: 2em;
  width: 10em;
  text-align: center;
  margin: 3% 1%;
}
.shop-categories-item img {
  display: none;
}
.shop-categories-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.shop-categories .selected {
  background-color:#d3d3d3;
}

/* ================================= */
/* Contact Page Styles */
/* ================================= */
.contact-hero-container {
  padding-top: 5rem;
  padding-bottom: 15rem;
  background-image: url("../public/blue.png");
  height: 15rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-hero-content {
  width: 90%;
  margin: auto;
  text-align: center;
}
.contact-container {
  width: 90%;
  margin: auto;
  margin-top: 5rem;
}
.contact-container .info-container {
  margin-bottom: 5rem;
}
.contact-container .contact-form {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-form h3 {
  margin-bottom: 2rem;
}
.contact-container .contact-form input {
  margin-bottom: 2rem;
  padding: 1rem;
}
.contact-container .contact-form textarea {
  margin-bottom: 2rem;
}
.contact-container .contact-form button {
  padding: 1rem;
  margin-bottom: 5rem;
  border-radius: 5rem;
}
/* contact media queries */
@media only screen and (min-width: 700px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 120rem;
  }
  .contact-container .contact-form {
    width: 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-hero-container {
    height: 30rem;
    padding-top: 15rem;
    padding-bottom: 20rem;
  }
}