/* ----- CSS RESET ----- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- General Styles ----- */
*{
	box-sizing:border-box; 
	max-width: 100%;
}
html{
	font-size: 62.5%;
}
body{
	font-size:1.6rem;
	line-height:1.5;
	font-family: 'Roboto Mono', monospace;
}
h1{
	font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
  letter-spacing: 0.1em;
}

/* ========== Navbar ========== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  box-shadow: 0em 0.05em 0.2em 0px rgba(0,0,0,0.1);
}

/* company logo */
.navbar .logo {
  font-size: 2rem;
  color: black;
}

/* menu */
.hamburger {
  font-size: 2.4rem;
}
.hide-links {
  display: none;
}

/* links */
.show-links {
  display: block;
}
.links-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}
.links-wrapper a {
  color: black;
}
.links-wrapper li {
  padding: 1.5%;
}
.links-wrapper li:hover {
  background-color: #d3d3d3;
  transition: 0.5s ease;
}

/* navbar MEDIA QUERIES */
@media only screen and  (min-width: 1200px) {
  .navbar {
    padding: 1% 3%;
    position: fixed;
    width: 100%;
    background-color: white;
  }

  /* nav logo/company name */
  .navbar .logo {
    font-size: 3rem;
  }

  /* menu */
  .hamburger {
    display: none;
  }

  /* links */
  .links-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.8rem;
    position: static;
    margin-right: 12em;
    background-color: white;
  }
  .links-wrapper li {
    padding: 3% 2.5%;
  }
  .links-wrapper a {
    color: black;
  }
  .links-wrapper li:hover {
    border-radius: 5px;
  }
}

/* ========== Home Styles ========== */
/* Hero image */
.hero-img {
  background-image: url("../public/blue.png");
  height: 75vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero content */
.hero-content {
  width: 90%;
  margin: auto;
  text-align: center;
}
.hero-content h1 {
  font-size: 3rem;
  margin: 10%;
}

/* Call to Action button */
.hero-img button {
  border: 1px solid black;
  border-radius: 15px;
  padding: 2% 4%;
}

/* Gallery */
.home-gallery {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10% auto;
}
.gallery-item {
  text-align: center;
  margin: 5% auto;
}

/* Intro */
.home-intro {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0% auto;
}
.home-intro h2 {
  font-size: 2.5rem;
  margin-bottom: 2%;
}
.home-intro img {
  margin: 10% auto;
}

/* Home page Media Queries */
@media only screen and (min-width: 1000px) {
  .home-gallery {
    flex-direction: row;
  }
  .hero-content h1 {
    margin: 2%;
  }
  .hero-img button {
    padding: 1% 2%;
  }
  .gallery-item {
    width: 30%;
    margin: 0% 2%;
  }
  .home-intro {
    flex-direction: row;
    align-items: flex-start;
    margin: 10% auto;
  }
  .home-intro .intro-content {
    width: 45%;
    margin: 0% auto;
  }
  .home-intro img {
    width: 45%;
    margin: 0% auto;
  }
}

/* ========== FOOT STYLES ========== */

